*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    padding: 10px 20px;
    background-color: hsl(0, 0%, 98%);
    font-family: "Poppins", sans-serif;
}

header{
   display:flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

main{
    padding: 0rem 10rem;
    
}

.row{
    display:flex;
}

.card1{
    height:30%;
    width:30%;
    border-top:10px solid hsl(0, 78%, 62%);
    background-color:hsl(0, 0%, 98%);
    border-radius:20px;
    box-shadow: 0px 0px 10px  black;
}   

.card2{
    border-radius:20px;
    box-shadow: 0px 0px 10px  black;
}

.card3{
    border-radius:20px;
    box-shadow: 0px 0px 10px  black;
}

.card4{
    border-radius:20px;
    box-shadow: 0px 0px 10px  black;
}